#version {
	background-color: #21262D;
	padding: 6px 16px;
	color: #c9d1d9;
	fill: #c9d1d9;
	right: 8px;
	top: 8px;
	border: 1px solid #363B42;
	border-radius: 6px;
	transition: all 0.1s;
}

#version svg {
	position: relative;
	top: 2px;
}

#version div {
	display: inline-block;
	position: relative;
	top: -2px;
}

#version:hover {
	background-color: #30363D;
	border-color: #8B949E;
}

#version svg {
	margin-right: 8px;
}